mixin tale(name)
  .tale.standard-margin
    .soldiers.lightholder
      each i in range(1, 4)
        +text-input(`annals_tale_${name}_soldier_${i}`)
    .tale-desc.lightholder
      .smallcaps.flex-center
        +checkbox(`annals_tale_${name}_chosen`).circlebox
        span(data-i18n=`annals_tale_${name}_top`)
      ul
        div(data-i18n=`annals_tale_${name}_intro`)
        each i in range(1,3)
          li(data-i18n=`annals_tale_${name}_q${i}`)
    .tale-effect.lightholder
      ul
        .smallcaps(data-i18n="annals_choose_1_effect")
        each i in range(1,3)
          li(data-i18n=`annals_tale_${name}_effect_${i}`)

mixin camp-event(num, kind, boxes)
  div(class=["camp-event", `morale-${kind}`])
    +hidden-checkbox(`camp_event_${kind}_${num}_check`)(value=0, checked=true).fakeradio
    each i in range(1, boxes)
      +checkbox(`camp_event_${kind}_${num}_check`)(value=i).circlebox.fakeradio
    .desc(data-i18n=`camp_event_${kind}_${num}`)

.left-column
  .logo
  .playbook-name.large-margin
    .blackheader.label(data-i18n="role_lorekeeper")
    .name.greyheader.label
      +text-input("character_name")(data-i18n-placeholder="name").inherit
  .commander-props.large-margin
    +commander-props("heritage", "1", ["bartan", "orite", "zemyati", "panyar", "other"])
    +commander-props("reputation", "1", ["wise", "friendly", "inquisitive", "dedicated", "famous"])
    +commander-props("personality", "1-2", ["warm", "clever", "eloquent", "young", "curious"])
    +commander-props("look", "1-3", ["soft", "maimed", "one-eyed", "ink-stained", "grizzled"])
.right-column
  ul.duties
    div(data-i18n="duties_top")
    each i in range(1,5)
      li(data-i18n=`duties_lorekeeper_${i}`)
.annals
  .header.standard-margin
    .blackheader.label(data-i18n="annals_of_the_legions")
    .details(data-i18n="annals_details")
  each t in ["founding", "independence", "battle", "will", "meaning"]
    +tale(t)
  .further-annals
    .standard-margin(data-i18n="further_annals")
    fieldset.repeating_tale
      .soldiers.lightholder
        each i in range(1, 4)
          +text-input(`tale_soldier_${i}`)
  .back-at-camp
    .blackheader.label.standard-margin(data-i18n="back_at_camp")
    .top.standard-margin(data-i18n="back_at_camp_top_1")
    .top.standard-margin(data-i18n="back_at_camp_top_2")
    .top.large-margin(data-i18n="back_at_camp_top_3")
    .camp-events
      .label
      .type.label(data-i18n="type")
      .morale.label(data-i18n="high_morale")
      each num in range(1,6)
        +camp-event(num, "high", 1)
      .morale.label(data-i18n="medium_morale")
      each num in range(1,5)
        +camp-event(num, "medium", 1)
      +camp-event(6, "medium", 2)
      .morale.label(data-i18n="low_morale")
      +camp-event(1, "low", 1)
      +camp-event(2, "low", 1)
      +camp-event(3, "low", 1)
      +camp-event(4, "low", 2)
      +camp-event(5, "low", 2)
      +camp-event(6, "low", 3)
