mixin tale(name)
  .tale.standard-margin
    .soldiers.lightholder
      each i in range(1, 4)
        +text-input(`annals_tale_${name}_soldier_${i}`)
    .tale-desc.lightholder
      .smallcaps.flex-center
        +checkbox(`annals_tale_${name}_chosen`).circlebox
        span(data-i18n=`annals_tale_${name}_top`)
      ul
        div(data-i18n=`annals_tale_${name}_intro`)
        each i in range(1,3)
          li(data-i18n=`annals_tale_${name}_q${i}`)
    .tale-effect.lightholder
      ul
        .smallcaps(data-i18n="annals_choose_1_effect")
        each i in range(1,3)
          li(data-i18n=`annals_tale_${name}_effect_${i}`)

.left-column
  .logo
  .playbook-name.large-margin
    .blackheader.label(data-i18n="role_lorekeeper")
    .name.greyheader.label
      +text-input("character_name")(data-i18n-placeholder="name").inherit
  .commander-props.large-margin
    +commander-props("heritage", "1", ["bartan", "orite", "zemyati", "panyar", "other"])
    +commander-props("reputation", "1", ["wise", "friendly", "inquisitive", "dedicated", "famous"])
    +commander-props("personality", "1-2", ["warm", "clever", "eloquent", "young", "curious"])
    +commander-props("look", "1-3", ["soft", "maimed", "one-eyed", "ink-stained", "grizzled"])
.right-column
  ul.duties
    div(data-i18n="duties_top")
    each i in range(1,5)
      li(data-i18n=`duties_lorekeeper_${i}`)
.annals
  .header.standard-margin
    .blackheader.label(data-i18n="annals_of_the_legions")
    .details(data-i18n="annals_details")
  each t in ["founding", "independence", "battle", "will", "meaning"]
    +tale(t)
  .further-annals.standard-margin(data-i18n="further_annals")
  fieldset.repeating_tale
    .soldiers.lightholder
      each i in range(1, 4)
        +text-input(`soldier_${i}`)
