-
  const NUM_SUPPORTED_DICE = 12;
  const NUM_SUPPORTED_RESULT_DICE = 6;
//- ROLL TEMPLATE
rolltemplate.sheet-rolltemplate-blades
  div(class!="holder {{type}} {{short}} {{language}}")
    | {{#charimage}}
    .char-image [Image]({{charimage}})
    | {{/charimage}}
    div(class!="header{{#charimage}} narrow{{/charimage}}") {{charname}} {{subtitle}}
    .title
      span(class="{{small-title}}") {{title}}
    .dice
      | {{^zerodie1}}
      each n in range(1, NUM_SUPPORTED_DICE)
        =`{{die${n}}} `
      | {{/zerodie1}}{{#zerodie1}}
      .zerodice1 {{zerodie1}} {{zerodie2}}
      .zerodice2(data-i18n="zerodice")
      | {{/zerodie1}}
    | {{#position}}
    .position {{position}}
    | {{/position}}{{#effect}}
    .effect {{effect}}
    | {{/effect}}{{#results}}
    .results
      | {{^zerodie1}}
      each n in range(1, NUM_SUPPORTED_RESULT_DICE)
        each m in range(n+1, NUM_SUPPORTED_RESULT_DICE)
          = `{{#rollWasCrit() die${n}}}{{#rollWasCrit() die${m}}}`
          .result {{result_crit}}
          = `{{/rollWasCrit() die${m}}}{{/rollWasCrit() die${n}}}`
      each n in range(1, NUM_SUPPORTED_RESULT_DICE)
        = `{{#rollWasCrit() die${n}}}`
        .result {{result_6}}
        = `{{/rollWasCrit() die${n}}}`
      each n in range(1, NUM_SUPPORTED_RESULT_DICE)
        = `{{#rollBetween() die${n} 4 5}}`
        .results {{result_4_5}}
        = `{{/rollBetween() die${n} 4 5}}`
      | {{/zerodie1}}{{#zerodie1}}{{#rollWasCrit() zerodie1}}{{#rollWasCrit() zerodie2}}
      .result {{result_6}}
      | {{/rollWasCrit() zerodie2}}{{/rollWasCrit() zerodie1}}{{#rollBetween() zerodie1 4 6}}{{#rollBetween() zerodie2 4 6}}
      .result {{result_4_5}}
      | {{/rollBetween() zerodie2 4 6}}{{/rollBetween() zerodie1 4 6}}{{/zerodie1}}
      .result {{result_1_3}}
    | {{/results}}{{#instructions}}
    .instructions {{instructions}}
    | {{/instructions}}{{#notes}}
    .notes {{notes}}
    | {{/notes}}

//- BROADCAST
rolltemplate.sheet-rolltemplate-blades-broadcast
  div(class="{{language}}")
    | {{#charimage}}{{^clock}}
    .char-image [Image]({{charimage}})
    | {{/clock}}{{/charimage}}
    div(class!="header{{#charimage}}{{^clock}} narrow{{/clock}}{{/charimage}}")
      div {{charname}}
      div {{type}}
    | {{#content}}
    .title {{title}}
    .content {{content}}
    | {{/content}}{{#clock}}
    .flex
      .clock(class="size-{{clocksize}} progress-{{clockprogress}}")
        .spoke-0
        .spoke-30
        .spoke-36
        .spoke-45
        .spoke-60
        .spoke-72
        .spoke-90
        .spoke-108
        .spoke-135
        .spoke-144
        .spoke-120
        .spoke-150
      .title {{title}}
    | {{/clock}}{{#harm}}
    .title(data-i18n="harm")
    table.harm
      tr
        td 3
        td #[.harm-inner {{harm3}}]
        td(data-i18n="need_help")
      tr
        td 2
        td
          | {{#harm2_1}}#[.harm-inner {{harm2_1}}]{{/harm2_1}}{{#harm2_2}}#[.harm-inner {{harm2_2}}]{{/harm2_2}}
        td(data-i18n="minus1d")
      tr
        td 1
        td
          | {{#harm1_1}}#[.harm-inner {{harm1_1}}]{{/harm1_1}}{{#harm1_2}}#[.harm-inner {{harm1_2}}]{{/harm1_2}}
        td(data-i18n="less_effect")
    | {{/harm}}
