mixin lta(name)
  .lta.standard-margin
    .blackheader.label(data-i18n=`lta_${name}`)
    .lightholder
      div
        .standard-margin(data-i18n=`lta_${name}_desc`)
        span(data-i18n="complete").colon-after.smallcaps
        span(data-i18n=`lta_${name}_complete`)
      +large-8-clock(`lta_${name}_progress`)

mixin spy(name, invulnerable = false, masterOnly = false)
  .spy.standard-margin
    div(class=`spy-pic spy-pic-${name}`)
    .standard-margin
      span(data-i18n=`spy_${name}`).smallcaps.colon-after
      span(data-i18n=`spy_${name}_desc`)
    .standard-margin
      span(data-i18n="specialty").smallcaps.colon-after
      span(data-i18n=`spy_${name}_specialty`)
    .boxes
      if !masterOnly
        label.smallcaps
          +checkbox(`spy_${name}_formula`)(value=oneDieFormula)
          span(data-i18n="trained")
      label.smallcaps.master
        +checkbox(`spy_${name}_formula`)(value=twoDiceFormula)
        span(data-i18n="master")
      if !invulnerable
        label.smallcaps.wounded
          span(data-i18n="wounded")
          +checkbox(`spy_${name}_wounded`)
      +roll(TitleCase(`spy_${spy}`),
        "{{type=action}} {{short=short}} {{subtitle=^{rolls_for_an}}} " +
        "{{title=^{assignment}}} {{small-title=small-title}} @{spy_" + name + "_formula}"
      )(data-i18n="roll_inf").fortunebutton.borderbutton

mixin network-box(name, twoBoxes = false, isChecked = false)
  div(class=["network-box", attributes.class])
    .blackheader.flex-center
      +hidden-checkbox(`spy_network_${name}_check`)(value=0, checked=!isChecked).fakeradio
      +checkbox(`spy_network_${name}_check`)(checked=isChecked).diamondbox.fakeradio
      if twoBoxes
        +checkbox(`spy_network_${name}_check`)(value=2).diamondbox.fakeradio
      .label(data-i18n=`spy_network_${name}`)
    .lightholder(data-i18n=`spy_network_${name}_desc`)

.left-column
  .logo
  .playbook-name.large-margin
    .blackheader.label(data-i18n="role_spymaster")
    .name.greyheader.label
      +text-input("character_name")(data-i18n-placeholder="name").inherit
  .commander-props.large-margin
    +commander-props("heritage", "1", ["bartan", "orite", "zemyati", "panyar", "other"])
    +commander-props("reputation", "1", ["aloof", "deadly", "dangerous", "cold", "shrewd"])
    +commander-props("personality", "1-2", ["cold", "quiet", "calculating", "smug", "gracious"])
    +commander-props("look", "1-3", ["comely", "colorful", "nondescript", "gaunt", "tattooed"])
  .simple-assignments.standard-margin
    .blackheader.label.standard-margin(data-i18n="simple_assignments")
    ul
      div(data-i18n="simple_assignments_top")
      each i in range(1,4)
        li(data-i18n=`simple_assignments_${i}`)
  .spies.large-margin
    .blackheader.label.standard-margin(data-i18n="spies")
    +spy("antoinette", false, true)
    +spy("bortis")
    +spy("crimson_vexing_gale", true)
    +spy("igrid")
    +spy("liya")
    +spy("onyetin")
  .black-divider
  ul.duties
    div(data-i18n="duties_top")
    each i in range(1,3)
      li(data-i18n=`duties_spymaster_${i}`)
.right-column
  .long-term-assignments
    .blackheader.label.standard-margin(data-i18n="long_term_assignments")
    .desc.standard-margin(data-i18n="long_term_assignments_desc")
    +lta("augment_missions")
    +lta("expand_network")
    +lta("lay_trap")
    +lta("recruit")
    +lta("research")
  .network
    .blackheader.label.standard-margin(data-i18n="spy_network")
    .content
      +network-box("training", /*twoBoxes=*/true).c13
      +network-box("investments").c67
      .arrow.u.c12
      .arrow.u.c67
      +network-box("acquisition").c12
      .arrow.ur_curved.c35
      +network-box("analysts").c67
      .arrow.u.c12
      +network-box("spy_network", /*twoBoxes=*/false, /*isChecked=*/true).c13
      .arrow.r.c4
      +network-box("field_assignment").c57
      .arrow.d_long.c1
      .arrow.d.c23
      +network-box("entrapment").c23
      +network-box("rangers").c57
      .arrow.ur.c4
      +network-box("sources").c13
      .arrow.r.c4
      +network-box("mercenaries").c57
      .arrow.d.c13
      .arrow.dr.c4
      +network-box("merchants").c13
      +network-box("holy_orders").c57

